* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

label {
  display: block;
}

/*
HEADER
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 0px 30px 0px 0px;
}

nav a {
  margin: 1em;
  padding: 10px;
  cursor: pointer;
}

form div {
  margin: 1em;
  display: inline-block;
}

.hero__content-text--title {
  font-size: 5rem;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.hero__content-text--subtitle {
  display: block;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-image: url('./pictures/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
}

.hero__content-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.riceIMG {
  height: 350px;
  width: 400px;
  padding: 10px;
}

#product {
  padding: 30px;
}

.allProducts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 10px;
}

.cart-item {
  margin: 0 0 10px;
}

.singleProduct-page {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 1200px;
  padding: 30px;
}

.content {
  width: 50em;
  padding: 30px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 10px;
}

.formInputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
